<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Regex Golf</title>
    <!-- link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation.min.css" integrity="sha256-xpOKVlYXzQ3P03j397+jWFZLMBXLES3IiryeClgU5og= sha384-gP4DhqyoT9b1vaikoHi9XQ8If7UNLO73JFOOlQV1RATrA7D0O7TjJZifac6NwPps sha512-AKwIib1E+xDeXe0tCgbc9uSvPwVYl6Awj7xl0FoaPFostZHOuDQ1abnDNCYtxL/HWEnVOMrFyf91TDgLPi9pNg==" crossorigin="anonymous" -->
    <link rel="stylesheet" href="assets/foundation.min.css" />

    <style>
        [v-cloak] > * { display:none }
        [v-cloak]::before { content: "loading…" }

        .progress-meter {
            transition: width 1s;
        }
    </style>
</head>

<body>
    <div class="grid-container" id="app" v-cloak>
        <vue-form :state="formstate" @submit.prevent="letsRoll">
            <div class="grid-x grid-margin-x">
                <div class="cell">
                    <h1>Regex Golf</h1>
                </div>

                <div class="cell">
                    <a class="button primary" v-for="(instance, key) in instances" :key="key" @click="fulfillFromInstance(instance)">{{ key }}</a>
                </div>

                <div class="cell medium-6">
                    <validate tag="label" :class="{'is-invalid-label': hasError('matchlist')}">
                        Match list <small>one item per line</small>
                        <textarea placeholder="Type here..." name="matchlist" rows="10" v-model="matchList" style="resize: none" required min-items></textarea>

                        <field-messages name="matchlist" show="$touched">
                            <div slot="required" class="form-error is-visible">Please, add the items</div>
                            <div slot="min-items" class="form-error is-visible">Please, add at least two items</div>
                        </field-messages>
                    </validate>
                </div>
                <div class="cell medium-6">
                    <validate tag="label" :class="{'is-invalid-label': hasError('unmatchList')}">
                        Unmatch list <small>one item per line</small>
                        <textarea placeholder="Type here..." rows="10" name="unmatchList" v-model="unmatchList" style="resize: none" required min-items></textarea>

                        <field-messages name="unmatchList" show="$touched">
                            <div slot="required" class="form-error is-visible">Please, add the items</div>
                            <div slot="min-items" class="form-error is-visible">Please, add at least two items</div>
                        </field-messages>
                    </validate>
                </div>
            </div>

            <div class="grid-x grid-margin-x">
                <validate tag="label" class="cell medium-3" :class="{'is-invalid-label': hasError('budget')}">
                    Budget
                    <input type="number" name="budget" v-model="budget" min="100000" max="999999" step="1" required />

                    <field-messages name="budget" show="$touched">
                        <div slot="required" class="form-error is-visible">Required</div>
                        <div slot="number" class="form-error is-visible">Must be a number</div>
                        <div slot="min" class="form-error is-visible">Min value: 100000</div>
                        <div slot="max" class="form-error is-visible">Max value: 999999</div>
                    </field-messages>
                </validate>
                <validate tag="label" class="cell medium-3" :class="{'is-invalid-label': hasError('depth')}">
                    Depth
                    <input type="number" name="depth" v-model="depth" min="1" max="10" step="1" required />

                    <field-messages name="depth" show="$touched">
                        <div slot="required" class="form-error is-visible">Required</div>
                        <div slot="number" class="form-error is-visible">Must be a number</div>
                        <div slot="min" class="form-error is-visible">Min value: 1</div>
                        <div slot="max" class="form-error is-visible">Max value: 10</div>
                    </field-messages>
                </validate>
                <validate tag="label" class="cell medium-3" :class="{'is-invalid-label': hasError('seed')}">
                    Seed
                    <input type="number" name="seed" v-model="seed" step="1" min="1000000000" max="9999999999" required />

                    <field-messages name="seed" show="$touched">
                        <div slot="required" class="form-error is-visible">Required</div>
                        <div slot="number" class="form-error is-visible">Must be a number</div>
                        <div slot="min" class="form-error is-visible">Min value: 1000000000</div>
                        <div slot="max" class="form-error is-visible">Max value: 9999999999</div>
                    </field-messages>
                </validate>
                <validate tag="label" class="cell medium-3" :class="{'is-invalid-label': hasError('timeout')}">
                    Timeout <small>em miliseconds</small>
                    <input type="number" name="timeout" v-model="timeout" step="1" min="1000" required />

                    <field-messages name="seed" show="$touched">
                        <div slot="required" class="form-error is-visible">Required</div>
                        <div slot="number" class="form-error is-visible">Must be a number</div>
                        <div slot="min" class="form-error is-visible">Min value: 1000</div>
                    </field-messages>
                </validate>
            </div>

            <div class="grid-x grid-margin-x" v-show="! hasStarted">
                <div class="cell">
                    <a id="btn-start" class="button large expanded">Let's roll!</a>
                </div>  
            </div>

            <div class="grid-x grid-margin-x" v-show="hasStarted">
                <div class="cell">
                    <a v-show="isRunning" class="button alert large expanded" @click="isRunning = false">Stop!</a>
                    <a v-show="!isRunning" class="button success large expanded" @click="isRunning = true">Recover</a>
                </div>  
            </div>
        </vue-form>

        <div class="grid-x grid-margin-x" v-show="hasStarted">
            <div class="cell">
                <div class="callout">
                    <p id="evaluation-div" class="text-center"></p>
                    <div class="progress">
                        <div id="progressbar" class="progress-meter"></div>
                    </div>
                </div>
            </div>

            <div class="cell" id="logs" style="height: 400px; overflow: scroll"></div>
        </div>
    </div>

    <!-- script src="https://cdn.jsdelivr.net/npm/vue@2.6.8/dist/vue.js"></script-->
    <script src="index.ts"></script>
</body>

</html>